In [2]:
import pandas as pd

# Dosya yolu (senin daha önce oluşturduğun dosya)
file_path = "funnel_data.csv"

# CSV'yi oku
df = pd.read_csv("funnel_data.csv")

# timestamp sütununu datetime formatına çevir
df['timestamp'] = pd.to_datetime(df['timestamp'])

# İlk 5 satırı görüntüle
df.head()

,user_id,timestamp,event_name,session_id,device,page_url,duration
0,user_103,2025-04-26 13:47:41.718266,purchase_complete,session_52,tablet,https://example.com/purchase,76
1,user_615,2025-05-05 06:47:41.718715,homepage_view,session_83,tablet,https://example.com/homepage,92
2,user_872,2025-05-01 22:47:41.719023,product_click,session_24,mobile,https://example.com/product,6
3,user_414,2025-05-13 12:47:41.719306,homepage_view,session_38,mobile,https://example.com/homepage,165
4,user_253,2025-04-27 18:47:41.719578,homepage_view,session_89,tablet,https://example.com/homepage,174

In [3]:
#  eventleri zaman sırasına göre sıralıyiriq
df_sorted = df.sort_values(by=["user_id", "timestamp"])

In [4]:
# Hansi event'leri funnel addımı olaraq isttifade edeceyimize qerar veririk
step1 = 'homepage_view'
step2 = 'product_click'
step3 = 'purchase_complete'

In [5]:
# Her addımı eden userler
homepage_users = set(df_sorted[df_sorted["event_name"] == step1]['user_id'])
product_click_users = set(df_sorted[df_sorted['event_name'] == step2]['user_id'])
purchase_users = set(df_sorted[df_sorted['event_name'] == step3]['user_id'])

In [6]:
# funneli teqib eden userler: step1 → step2 → step3
step1_total = len(homepage_users)
step2_total = len(homepage_users & product_click_users)
step3_total = len(homepage_users & product_click_users & purchase_users)

In [7]:
# Her aşamanın kecid derecesi
step2_rate = (step2_total / step1_total) * 100 if step1_total > 0 else 0
step3_rate = (step3_total / step1_total) * 100 if step1_total > 0 else 0

In [8]:
print("Addim 1 (homepage_view):", step1_total, "istifadeci")
print("Addim 2 (product_click):", step2_total, "istifadeci")
print("Addim 3 (purchase_complete):", step3_total, "istifadeci")
print("Conversion: Homepage → Product Click = ", round(step2_rate, 2), "%")
print("Conversion: Homepage → Purchase = ", round(step3_rate, 2), "%")

Addim 1 (homepage_view): 986 istifadeci
Addim 2 (product_click): 937 istifadeci
Addim 3 (purchase_complete): 377 istifadeci
Conversion: Homepage → Product Click =  95.03 %
Conversion: Homepage → Purchase =  38.24 %

In [10]:
drop_step1 = homepage_users - product_click_users

In [ ]:
step2_candidates = homepage_users & product_click_users
drop_step2 = step2_candidates - purchase_users

In [12]:
drop_step1_count = len(drop_step1)
drop_step2_count = len(drop_step2)

In [13]:
drop_step1_rate = (drop_step1_count / step1_total) * 100
drop_step2_rate = (drop_step2_count / step2_total) * 100

In [15]:
print(f"drop_step1_rate: {round(drop_step1_rate)}")
print(f"drop_step2_rate: {round(drop_step2_rate)}")

drop_step1_rate: 5
drop_step2_rate: 60