In [2]:
import pandas as pd

data = {
    'CustomerID': [101, 102, 103, 104, 105, 106, 107, 108],
    'PurchaseAmount': [120, 340, 120, 560, 340, 8000, 120, 340],
    'Age': [25, 34, 25, 45, 34, 67, 25, 34],
    'Gender': ['F', 'M', 'F', 'M', 'M', 'F', 'F', 'M']
}

df = pd.DataFrame(data)

In [ ]:
# ⚔️ ZORLU GÖREVLER
# Q1. PurchaseAmount sütununda en çox tekrar eden değeri (mode) ve nece defe keçtiğini kodla göster.
df["PurchaseAmount"].value_counts().sort_values(ascending=False)
df["PurchaseAmount"].mode()[0] #mode
df["PurchaseAmount"].value_counts().iloc[0] # mode sayi

np.int64(3)

In [ ]:

# Q2. Her yaş grubunun (Age) ortalama xerclemesini (PurchaseAmount) tap. Ortalaması en yüksek olan yaşı da yazdır.
df.groupby("Age")["PurchaseAmount"].mean().sort_values(ascending=False).head(1)
df.groupby("Age")["PurchaseAmount"].mean().idxmax() #yasi verir

np.int64(67)

In [ ]:

# Q3. Yaşı tekrar eden müşterilerin toplam xerclemesini (PurchaseAmount) toplayan bir table duzelt.
# Önce tekrar eden yaşları tap:
repeated_ages = df["Age"].value_counts()
repeated_ages = repeated_ages[repeated_ages > 1].index

# Sonra bunlara ait satırları filtreleyib topla:
df[df["Age"].isin(repeated_ages)].groupby("Age")["PurchaseAmount"].sum().reset_index()

   Age  PurchaseAmount
0   25             360
1   34            1020

In [ ]:

# Q4. Butun numeric sütunlar (PurchaseAmount, Age) ucun standart sapma, ortalama ve toplam kimi metrikleri bir arada gösteren describe() benzeri ama oz agg() fonksiyonunla yaz.
df[["PurchaseAmount", "Age"]].agg(["sum","count","mean","std"]).round(2)

  Gender  CustomerID  PurchaseAmount
5      F         106            8000
3      M         104             560

In [ ]:
# Q5. Cinsiyete göre (Gender) PurchaseAmount ucun:
df.groupby("Gender")["PurchaseAmount"].agg(["sum","mean","std"]).reset_index()
# Toplam

# Ortalama

# Standart sapma

# En çox xercleyen müşteri ID’si (her cinsiyet ucun)

# hamisi tek groupby() ile .
df.loc[df.groupby("Gender")["PurchaseAmount"].idxmax(), ["Gender", "CustomerID", "PurchaseAmount"]]

  Gender  CustomerID  PurchaseAmount
5      F         106            8000
3      M         104             560