# üîÅ `replace()` Fonksiyonu ‚Äì Kapsamlƒ± Anlatƒ±m

`replace()` fonksiyonu, bir s√ºtundaki deƒüerleri doƒürudan ba≈üka deƒüerlerle deƒüi≈ütirmek i√ßin kullanƒ±lƒ±r.
Hem tek bir deƒüeri hem birden fazla deƒüeri deƒüi≈ütirmek i√ßin uygundur.

In [1]:
import pandas as pd
df = pd.read_csv("HR Data.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,Gender,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,Over18,OverTime,PerformanceRating,TotalWorkingYears
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,Female,Sales Executive,4,Single,5993,19479,Y,Yes,3,8
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,Male,Research Scientist,2,Married,5130,24907,Y,No,4,10
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,Male,Laboratory Technician,3,Single,2090,2396,Y,Yes,3,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,Female,Research Scientist,3,Married,2909,23159,Y,Yes,3,8
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,Male,Laboratory Technician,2,Married,3468,16632,Y,No,3,6

## üîπ √ñrnek 1: Tek deƒüer deƒüi≈ütirme

In [ ]:
df["Gender"] = df["Gender"].replace("Male", "Erkek")
df["Gender"].head()

## üîπ √ñrnek 2: Birden fazla deƒüer deƒüi≈ütirme (s√∂zl√ºk ile)

In [ ]:
df["Attrition"] = df["Attrition"].replace({"Yes": 1, "No": 0})
df["Attrition"].value_counts()

## üîπ √ñrnek 3: Liste ile √ßoklu deƒüi≈üim

In [ ]:
df["Education"] = df["Education"].replace([1, 2, 3], ["Lise", "√ñn Lisans", "Lisans"])
df["Education"].head()

## üß† map() vs replace()

- `map()`: e≈üle≈ümeyen deƒüerleri NaN yapar
- `replace()`: e≈üle≈ümeyen deƒüerlere dokunmaz

## üîπ √ñrnek 4: regex=True ile metin deƒüi≈ütirme (geli≈ümi≈ü kullanƒ±m)

In [ ]:
# df["Notes"] = df["Notes"].replace(r"\\n", " ", regex=True)

In [ ]:


# ### üß™ `replace()` Sorularƒ±


# #### üîπ Soru 1  
# # **Gender** s√ºtunundaki `"Male"` ‚Üí `"Erkek"`, `"Female"` ‚Üí `"Kadƒ±n"` olarak deƒüi≈ütirin.

In [2]:
df["Gender"].replace({"Male" : "Erkek", "Female" : "Kadƒ±n"})

0       Kadƒ±n
1       Erkek
2       Erkek
3       Kadƒ±n
4       Erkek
        ...
1465    Erkek
1466    Erkek
1467    Erkek
1468    Erkek
1469    Erkek
Name: Gender, Length: 1470, dtype: object

In [ ]:


# #### üîπ Soru 2  
# # **Attrition** s√ºtunundaki `"Yes"` ‚Üí `1`, `"No"` ‚Üí `0` olarak deƒüi≈ütirin.

In [3]:
df["Attrition"].replace({"Yes" : 1, "No" : 0})

C:\Users\nicat\AppData\Local\Temp\ipykernel_524\337890138.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Attrition"].replace({"Yes" : 1, "No" : 0})

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int64

In [ ]:

# # #### üîπ Soru 3  
# # **BusinessTravel** s√ºtunundaki:
# # - `"Non-Travel"` ‚Üí `"Yok"`
# # - `"Travel_Rarely"` ‚Üí `"Nadiren"`
# # - `"Travel_Frequently"` ‚Üí `"Sƒ±k"`

# ---

In [4]:
df["BusinessTravel"].replace({
    "Non-Travel" : "Yok",
    "Travel_Rarely" : "Nadiren",
    "Travel_Frequently" : "Sƒ±k"})

0       Nadiren
1           Sƒ±k
2       Nadiren
3           Sƒ±k
4       Nadiren
         ...
1465        Sƒ±k
1466    Nadiren
1467    Nadiren
1468        Sƒ±k
1469    Nadiren
Name: BusinessTravel, Length: 1470, dtype: object

In [ ]:

# # #### üîπ Soru 4  
# # **Education** s√ºtununda ≈üu liste deƒüi≈üimini yapƒ±n:  
# # `[1, 2, 3]` ‚Üí `["Lise", "√ñn Lisans", "Lisans"]`

# ---

In [7]:
df["Education"].replace([1, 2, 3], ["Lise", "√ñn Lisans", "Lisans"])

0       √ñn Lisans
1            Lise
2       √ñn Lisans
3               4
4            Lise
          ...
1465    √ñn Lisans
1466         Lise
1467       Lisans
1468       Lisans
1469       Lisans
Name: Education, Length: 1470, dtype: object

In [ ]:

# # #### üîπ Soru 5  
# # **OverTime** s√ºtununda `"Yes"` olanlarƒ± `"Evet"` ve `"No"` olanlarƒ± `"Hayƒ±r"` olarak deƒüi≈ütirin.

# ---

In [8]:
df["OverTime"].replace({"Yes" :"Evet", "No" : "Hayir"})

0        Evet
1       Hayir
2        Evet
3        Evet
4       Hayir
        ...
1465    Hayir
1466    Hayir
1467     Evet
1468    Hayir
1469    Hayir
Name: OverTime, Length: 1470, dtype: object

In [ ]:

# # #### üîπ Soru 6 (Bonus)  
# # **JobRole** s√ºtununda `"Laboratory Technician"` ge√ßen t√ºm deƒüerlerde `"Lab Teknisyeni"` ile deƒüi≈ütirin (ipucu: `regex=True` ile `replace`).

# ---

In [ ]:
# df["JobRole"].replace({"Laboratory Technician" : "Lab Teknisyeni"}) - calisir
df["JobRole"] = df["JobRole"].replace(r"Laboratory Technician", "Lab Teknisyeni", regex=True)
df["JobRole"]

# # üîç Peki regex=True ne zaman gerekir?
# Eƒüer i√ßinde "Laboratory Technician" ge√ßen ama tam olarak o olmayan deƒüerler varsa (mesela):

# "Senior Laboratory Technician"

# "Laboratory Technician Assistant"

# "Technician - Laboratory"

# ...gibi ifadeleri de kapsamak istiyorsan regex=True kullanman gerekir:

0                 Sales Executive
1              Research Scientist
2                  Lab Teknisyeni
3              Research Scientist
4                  Lab Teknisyeni
                  ...
1465               Lab Teknisyeni
1466    Healthcare Representative
1467       Manufacturing Director
1468              Sales Executive
1469               Lab Teknisyeni
Name: JobRole, Length: 1470, dtype: object