In [4]:
## 🧪 1. Eksik Veri (Missing Values) Nedir?

# Veri setinde bazen boş hücreler olur:  
# - Kullanıcı doldurmamış  
# - Sistem kaydetmemiş  
# - Hata olmuş vs.

# Pandas’ta eksik veriler `NaN` (Not a Number) olarak görünür.

## 🧰 2. Örnek DataFrame – İçinde eksik veri olan tablo

import pandas as pd
import numpy as np

veri = {
    "isim": ["Ali", "Ayşe", "Mehmet", "Zeynep", "Ahmet"],
    "yas": [25, np.nan, 22, 27, np.nan],
    "sehir": ["Ankara", "İstanbul", np.nan, "Bursa", "İzmir"]
}

df = pd.DataFrame(veri)
print(df)

## 🔍 3. Eksik Veriyi Tespit Etme


df.isnull()            # Nereler eksik? (True/False tablosu)
df.isnull().sum()      # Hangi sütunda kaç tane eksik var?
df.notnull()           # Dolular için True verir


# 🧠 Örnek çıktı:
# yas      2
# sehir    1


## 🛠️ 4. Eksik Veriyi Doldurma


df["yas"].fillna(0)                     # Boş yaşları 0 yap
df["yas"].fillna(df["yas"].mean())     # Boş yaşları ortalama ile doldur


# **Kalıcı hale getirmek için:**

df["yas"] = df["yas"].fillna(0)


## ❌ 5. Eksik Veriyi Silme


df.dropna()             # Eksik verisi olan satırı tamamen siler
df.dropna(subset=["yas"])  # Sadece "yas" sütunu eksikse sil


## 🎯 Mini Challenge:
# 1. Sana verdiğim DataFrame'deki boş yaşları ortalama ile doldur.

df["yas"]= df["yas"].fillna(df["yas"].mean())  

# 2. Eksik şehirleri "Bilinmiyor" olarak doldur.
df["sehir"]=df["sehir"].fillna("Bilinmiyor")
  
# 3. Son halini yazdır.
df

     isim   yas     sehir
0     Ali  25.0    Ankara
1    Ayşe   NaN  İstanbul
2  Mehmet  22.0       NaN
3  Zeynep  27.0     Bursa
4   Ahmet   NaN     İzmir

     isim   yas       sehir
0     Ali  25.0      Ankara
1    Ayşe   0.0    İstanbul
2  Mehmet  22.0  Bilinmiyor
3  Zeynep  27.0       Bursa
4   Ahmet   0.0       İzmir

In [ ]:
## 📌 1. `groupby()` Nedir?

# Pandas’ta `groupby()`, verileri bir veya daha fazla sütuna göre gruplandırır.  
# Sonra her grubun **ortalama, toplam, adet** gibi istatistiklerini hesaplamamıza olanak sağlar.


## 🧱 Örnek Veri

# Önce örnek bir DataFrame hazırlayalım:

import pandas as pd

veri = {
    "sehir": ["Ankara", "İstanbul", "İzmir", "Bursa", "İstanbul", "Ankara"],
    "magaza": ["A101", "BİM", "A101", "ŞOK", "A101", "ŞOK"],
    "satis": [100, 200, 150, 120, 300, 80]
}

df = pd.DataFrame(veri)
print(df)

## 🔍 2. Şehre Göre Toplam Satış


df.groupby("sehir")["satis"].sum()

# ✅ Bu ne yapar?  
# Her şehrin toplam satışını hesaplar.


## 🔍 3. Mağazaya Göre Ortalama Satış


df.groupby("magaza")["satis"].mean()

# ✅ Her mağaza için ortalama satış gelir.


## 🔍 4. Çoklu Gruplama – Şehir ve Mağaza

df.groupby(["sehir", "magaza"])["satis"].sum()

# ✅ Her şehirdeki her mağazanın toplam satışını verir → ***çapraz analiz!***

## 🎯 Mini Challenge:

# Senin görevin:

# 1. `sehir` sütununa göre ortalama satışları yazdır.  
df.groupby("sehir")["satis"].mean()

# 2. `magaza` sütununa göre satış toplamlarını yazdır.  
df.groupby("magaza")["satis"].sum()

# 3. Hem `sehir` hem `magaza` gruplamasına göre satışları getir.
df.groupby(["sehir","magaza"])["satis"].sum()

      sehir magaza  satis
0    Ankara   A101    100
1  İstanbul    BİM    200
2     İzmir   A101    150
3     Bursa    ŞOK    120
4  İstanbul   A101    300
5    Ankara    ŞOK     80

In [ ]:
df = pd.read_csv(r"C:\Users\nicat\PYTHON\PANDAS\gpt\HR Data.csv")
df
df.head() # ilk 5 satir , yad ne arguman verirsen
df.describe() # acikla
df.dtypes # veri tip kontrol
bos_kontrol = lambda df: "bos" if df.isnull().sum().sum() > 0 else "yok"
print(bos_kontrol(df))

def eksik_var_mi(df):
    return "bos" if df.isnull().sum().sum() > 0 else "yok"
print(eksik_var_mi(df))

yok
yok

In [31]:
df
df["Department"].value_counts()
df["Department"].value_counts().max()
df[df["Age"]>40].value_counts()

Age  Attrition  BusinessTravel     DailyRate  Department              DistanceFromHome  Education  EducationField    EmployeeCount  EmployeeNumber  Gender  JobRole                    JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  Over18  OverTime  PerformanceRating  TotalWorkingYears
60   No         Travel_Rarely      1179       Sales                   16                4          Marketing         1              732             Male    Sales Executive            1                Single         5405           11924        Y       No        3                  10                   1
58   Yes        Travel_Rarely      289        Research & Development  2                 3          Technical Degree  1              977             Male    Research Scientist         3                Single         2479           26227        Y       No        4                  7                    1
                                   286        Research & Development  2                 4          Life Sciences     1              825             Male    Research Director          2                Single         19246          25761        Y       Yes       3                  40                   1
                                   147        Research & Development  23                4          Medical           1              165             Female  Healthcare Representative  4                Married        10312          3465         Y       No        3                  40                   1
                Travel_Frequently  781        Research & Development  2                 1          Life Sciences     1              918             Male    Laboratory Technician      4                Divorced       2380           13384        Y       Yes       3                  3                    1
                                                                                                                                                                                                                                                                                                            ..
41   No         Travel_Frequently  840        Research & Development  9                 3          Medical           1              999             Male    Research Director          3                Divorced       19419          3735         Y       No        3                  21                   1
                Non-Travel         552        Human Resources         4                 3          Human Resources   1              1722            Male    Human Resources            2                Married        6430           20794        Y       No        3                  10                   1
                                   509        Research & Development  2                 4          Other             1              616             Female  Healthcare Representative  3                Single         6811           2112         Y       Yes       3                  10                   1
                                   267        Sales                   10                2          Life Sciences     1              599             Male    Sales Executive            4                Single         6230           13430        Y       No        3                  16                   1
                                   256        Sales                   10                2          Medical           1              1329            Male    Sales Executive            2                Single         6151           22074        Y       No        3                  19                   1
Name: count, Length: 465, dtype: int64