In [4]:
## ğŸ§ª 1. Eksik Veri (Missing Values) Nedir?

# Veri setinde bazen boÅŸ hÃ¼creler olur:  
# - KullanÄ±cÄ± doldurmamÄ±ÅŸ  
# - Sistem kaydetmemiÅŸ  
# - Hata olmuÅŸ vs.

# Pandasâ€™ta eksik veriler `NaN` (Not a Number) olarak gÃ¶rÃ¼nÃ¼r.

## ğŸ§° 2. Ã–rnek DataFrame â€“ Ä°Ã§inde eksik veri olan tablo

import pandas as pd
import numpy as np

veri = {
    "isim": ["Ali", "AyÅŸe", "Mehmet", "Zeynep", "Ahmet"],
    "yas": [25, np.nan, 22, 27, np.nan],
    "sehir": ["Ankara", "Ä°stanbul", np.nan, "Bursa", "Ä°zmir"]
}

df = pd.DataFrame(veri)
print(df)

## ğŸ” 3. Eksik Veriyi Tespit Etme


df.isnull()            # Nereler eksik? (True/False tablosu)
df.isnull().sum()      # Hangi sÃ¼tunda kaÃ§ tane eksik var?
df.notnull()           # Dolular iÃ§in True verir


# ğŸ§  Ã–rnek Ã§Ä±ktÄ±:
# yas      2
# sehir    1


## ğŸ› ï¸ 4. Eksik Veriyi Doldurma


df["yas"].fillna(0)                     # BoÅŸ yaÅŸlarÄ± 0 yap
df["yas"].fillna(df["yas"].mean())     # BoÅŸ yaÅŸlarÄ± ortalama ile doldur


# **KalÄ±cÄ± hale getirmek iÃ§in:**

df["yas"] = df["yas"].fillna(0)


## âŒ 5. Eksik Veriyi Silme


df.dropna()             # Eksik verisi olan satÄ±rÄ± tamamen siler
df.dropna(subset=["yas"])  # Sadece "yas" sÃ¼tunu eksikse sil


## ğŸ¯ Mini Challenge:
# 1. Sana verdiÄŸim DataFrame'deki boÅŸ yaÅŸlarÄ± ortalama ile doldur.

df["yas"]= df["yas"].fillna(df["yas"].mean())  

# 2. Eksik ÅŸehirleri "Bilinmiyor" olarak doldur.
df["sehir"]=df["sehir"].fillna("Bilinmiyor")
  
# 3. Son halini yazdÄ±r.
df

     isim   yas     sehir
0     Ali  25.0    Ankara
1    AyÅŸe   NaN  Ä°stanbul
2  Mehmet  22.0       NaN
3  Zeynep  27.0     Bursa
4   Ahmet   NaN     Ä°zmir

     isim   yas       sehir
0     Ali  25.0      Ankara
1    AyÅŸe   0.0    Ä°stanbul
2  Mehmet  22.0  Bilinmiyor
3  Zeynep  27.0       Bursa
4   Ahmet   0.0       Ä°zmir

In [ ]:
## ğŸ“Œ 1. `groupby()` Nedir?

# Pandasâ€™ta `groupby()`, verileri bir veya daha fazla sÃ¼tuna gÃ¶re gruplandÄ±rÄ±r.  
# Sonra her grubun **ortalama, toplam, adet** gibi istatistiklerini hesaplamamÄ±za olanak saÄŸlar.


## ğŸ§± Ã–rnek Veri

# Ã–nce Ã¶rnek bir DataFrame hazÄ±rlayalÄ±m:

import pandas as pd

veri = {
    "sehir": ["Ankara", "Ä°stanbul", "Ä°zmir", "Bursa", "Ä°stanbul", "Ankara"],
    "magaza": ["A101", "BÄ°M", "A101", "ÅOK", "A101", "ÅOK"],
    "satis": [100, 200, 150, 120, 300, 80]
}

df = pd.DataFrame(veri)
print(df)

## ğŸ” 2. Åehre GÃ¶re Toplam SatÄ±ÅŸ


df.groupby("sehir")["satis"].sum()

# âœ… Bu ne yapar?  
# Her ÅŸehrin toplam satÄ±ÅŸÄ±nÄ± hesaplar.


## ğŸ” 3. MaÄŸazaya GÃ¶re Ortalama SatÄ±ÅŸ


df.groupby("magaza")["satis"].mean()

# âœ… Her maÄŸaza iÃ§in ortalama satÄ±ÅŸ gelir.


## ğŸ” 4. Ã‡oklu Gruplama â€“ Åehir ve MaÄŸaza

df.groupby(["sehir", "magaza"])["satis"].sum()

# âœ… Her ÅŸehirdeki her maÄŸazanÄ±n toplam satÄ±ÅŸÄ±nÄ± verir â†’ ***Ã§apraz analiz!***

## ğŸ¯ Mini Challenge:

# Senin gÃ¶revin:

# 1. `sehir` sÃ¼tununa gÃ¶re ortalama satÄ±ÅŸlarÄ± yazdÄ±r.  
df.groupby("sehir")["satis"].mean()

# 2. `magaza` sÃ¼tununa gÃ¶re satÄ±ÅŸ toplamlarÄ±nÄ± yazdÄ±r.  
df.groupby("magaza")["satis"].sum()

# 3. Hem `sehir` hem `magaza` gruplamasÄ±na gÃ¶re satÄ±ÅŸlarÄ± getir.
df.groupby(["sehir","magaza"])["satis"].sum()

      sehir magaza  satis
0    Ankara   A101    100
1  Ä°stanbul    BÄ°M    200
2     Ä°zmir   A101    150
3     Bursa    ÅOK    120
4  Ä°stanbul   A101    300
5    Ankara    ÅOK     80

In [ ]:
df = pd.read_csv(r"C:\Users\nicat\PYTHON\PANDAS\gpt\HR Data.csv")
df
df.head() # ilk 5 satir , yad ne arguman verirsen
df.describe() # acikla
df.dtypes # veri tip kontrol
bos_kontrol = lambda df: "bos" if df.isnull().sum().sum() > 0 else "yok"
print(bos_kontrol(df))

def eksik_var_mi(df):
    return "bos" if df.isnull().sum().sum() > 0 else "yok"
print(eksik_var_mi(df))

yok
yok

In [31]:
df
df["Department"].value_counts()
df["Department"].value_counts().max()
df[df["Age"]>40].value_counts()

Age  Attrition  BusinessTravel     DailyRate  Department              DistanceFromHome  Education  EducationField    EmployeeCount  EmployeeNumber  Gender  JobRole                    JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  Over18  OverTime  PerformanceRating  TotalWorkingYears
60   No         Travel_Rarely      1179       Sales                   16                4          Marketing         1              732             Male    Sales Executive            1                Single         5405           11924        Y       No        3                  10                   1
58   Yes        Travel_Rarely      289        Research & Development  2                 3          Technical Degree  1              977             Male    Research Scientist         3                Single         2479           26227        Y       No        4                  7                    1
                                   286        Research & Development  2                 4          Life Sciences     1              825             Male    Research Director          2                Single         19246          25761        Y       Yes       3                  40                   1
                                   147        Research & Development  23                4          Medical           1              165             Female  Healthcare Representative  4                Married        10312          3465         Y       No        3                  40                   1
                Travel_Frequently  781        Research & Development  2                 1          Life Sciences     1              918             Male    Laboratory Technician      4                Divorced       2380           13384        Y       Yes       3                  3                    1
                                                                                                                                                                                                                                                                                                            ..
41   No         Travel_Frequently  840        Research & Development  9                 3          Medical           1              999             Male    Research Director          3                Divorced       19419          3735         Y       No        3                  21                   1
                Non-Travel         552        Human Resources         4                 3          Human Resources   1              1722            Male    Human Resources            2                Married        6430           20794        Y       No        3                  10                   1
                                   509        Research & Development  2                 4          Other             1              616             Female  Healthcare Representative  3                Single         6811           2112         Y       Yes       3                  10                   1
                                   267        Sales                   10                2          Life Sciences     1              599             Male    Sales Executive            4                Single         6230           13430        Y       No        3                  16                   1
                                   256        Sales                   10                2          Medical           1              1329            Male    Sales Executive            2                Single         6151           22074        Y       No        3                  19                   1
Name: count, Length: 465, dtype: int64