In [3]:
import pandas as pd

import json

In [4]:
# ---------------- EXTRACT ----------------

with open('web_app.json') as file:
    raw_data = [json.loads(line) for line in file]


df = pd.DataFrame(raw_data)
print("üîç Extracted Raw Data:")
print(df)

üîç Extracted Raw Data:
   id  name  age
0   1  John   35
1   2   San   30
2   3  Mary   31

In [5]:
df.isnull().sum()

df.dtypes

df[df.duplicated()]

df.drop_duplicates()

df.shape 
df.columns
df.describe().round(2)

        id    age
count  3.0   3.00
mean   2.0  32.00
std    1.0   2.65
min    1.0  30.00
25%    1.5  30.50
50%    2.0  31.00
75%    2.5  33.00
max    3.0  35.00

In [11]:
df.rename(columns={"id":"user_id","name":"full_name"}, inplace=True)

df["full_name"] = df["full_name"].str.strip().str.title()

df['user_age'] = pd.to_numeric(df["user_age"], errors='coerce')


df

   user_id full_name  user_age
0        1      John        35
1        2       San        30
2        3      Mary        31

In [12]:
# Save to CSV
df.to_csv('jsondan.csv', index=False)