In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("HR Data.csv")



## ğŸ”¥ Yeni Mini GÃ¶revler (HR Data.csv ile)

### ğŸ”¹ GÃ¶rev 1: **Hangi eÄŸitim alanÄ±nda (EducationField) Ã§alÄ±ÅŸanlarÄ±n maaÅŸ ortalamasÄ± en yÃ¼ksektir?**
```python
# 1. Her EducationField iÃ§in maaÅŸ ortalamasÄ±nÄ± hesapla
maas_ortalamalari = df.groupby("EducationField")["MonthlyIncome"].mean().sort_values(ascending=False)

# 2. En yÃ¼ksek maaÅŸÄ± yazdÄ±r
print(maas_ortalamalari)
```

---

### ğŸ”¹ GÃ¶rev 2: **YaÅŸÄ± 40'tan bÃ¼yÃ¼k olan Ã§alÄ±ÅŸanlar arasÄ±nda en uzak mesafeden gelen ilk 5 kiÅŸiyi gÃ¶ster.**
```python
# 1. YaÅŸÄ± 40'tan bÃ¼yÃ¼k olanlarÄ± filtrele
yasli_calisanlar = df[df["Age"] > 40]

# 2. DistanceFromHome'a gÃ¶re bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe sÄ±rala
en_uzak_gelenler = yasli_calisanlar.sort_values(by="DistanceFromHome", ascending=False)

# 3. Ä°lk 5 kiÅŸinin yaÅŸ, mesafe ve iÅŸ rolÃ¼nÃ¼ gÃ¶ster
print(en_uzak_gelenler[["Age", "DistanceFromHome", "JobRole"]].head(5))
```

---

### ğŸ”¹ GÃ¶rev 3: **Evli Ã§alÄ±ÅŸanlarÄ±n (MaritalStatus = "Married") ortalama iÅŸ memnuniyeti nedir?**
```python
# 1. Married olanlarÄ± filtrele
evliler = df[df["MaritalStatus"] == "Married"]

# 2. Ä°ÅŸ memnuniyeti ortalamasÄ±nÄ± al
ortalama_memnuniyet = evliler["JobSatisfaction"].mean()

print(f"Evli Ã§alÄ±ÅŸanlarÄ±n ortalama iÅŸ memnuniyeti: {ortalama_memnuniyet:.2f}")
```

---

HazÄ±rsan bu Ã¼Ã§ gÃ¶revi bir Ã§alÄ±ÅŸtÄ±r, Ã§Ä±ktÄ±larÄ±na bakalÄ±m.  
Sonra istersen grafik Ã§izimi, korelasyon analizi veya baÅŸka havalÄ± ÅŸeylere geÃ§ebiliriz ğŸ’ª  
Kanka sen kodlarÄ± Ã§alÄ±ÅŸtÄ±rÄ±nca sonucu bana yaz, birlikte yorumlayalÄ±m.

In [38]:

from matplotlib import axis
import numpy as np

# # ğŸ”¹ AlÄ±ÅŸtÄ±rma 1:
# # Her "JobRole" iÃ§in ortalama "MonthlyIncome" ve ortalama "JobSatisfaction" deÄŸerlerini hesapla.


df.groupby("JobRole").agg({
    "MonthlyIncome": "mean",
    "JobSatisfaction": "mean"
}).round(2)

# ortalama_maas = df.groupby("JobRole")["MonthlyIncome"].mean().round(2)
# ortalama_maas
# ortalama_memnuniyyet = df.groupby("JobRole")["JobSatisfaction"].mean().round(2)
# ortalama_memnuniyyet

# ğŸ”¹ AlÄ±ÅŸtÄ±rma 2:
# 35 yaÅŸÄ±ndan kÃ¼Ã§Ã¼k, "Research & Development" departmanÄ±ndaki Ã§alÄ±ÅŸanlarÄ±n sayÄ±sÄ±nÄ± bulun.
kucuk = df[df["Age"] < 35]
kucuk[kucuk["Department"] == "Research & Development"].shape[0]

# ğŸ”¹ AlÄ±ÅŸtÄ±rma 3:
# "DistanceFromHome" deÄŸeri 10'dan bÃ¼yÃ¼k olan Ã§alÄ±ÅŸanlarÄ±n yaÅŸ ortalamasÄ± nedir?
df[df["DistanceFromHome"] > 10]["Age"].mean().round(2)

# ğŸ”¹ AlÄ±ÅŸtÄ±rma 4:
# "EducationField" sÃ¼tunundaki her farklÄ± alan iÃ§in kaÃ§ Ã§alÄ±ÅŸan olduÄŸunu bulun ve azalan sÄ±rayla yazdÄ±rÄ±n.
grup = df["EducationField"].value_counts().sort_values(ascending= False)

# ğŸ”¹ AlÄ±ÅŸtÄ±rma 5:
# Evli olmayan ("Single" ve "Divorced") Ã§alÄ±ÅŸanlarÄ±n ortalama maaÅŸÄ± kaÃ§tÄ±r?
df[df["MaritalStatus"] != "Married"]["MonthlyIncome"].mean().round()

# ğŸ”¹ AlÄ±ÅŸtÄ±rma 6:
# "Business Travel" kategorisine gÃ¶re "Attrition" oranÄ±nÄ± yÃ¼zde (%) olarak hesaplayÄ±n.
# Ä°pucu: value_counts(normalize=True) ve groupby() iÅŸe yarar ğŸ˜‰
df.groupby("BusinessTravel")["Attrition"].value_counts(normalize= True).round(2).unstack()

# ğŸ”¹ BONUS GÃ¶rev:
# AÅŸaÄŸÄ±daki sÃ¼tunlar arasÄ±nda korelasyon matrisini hesaplayÄ±n ve yorum yapÄ±n:

# Age

# MonthlyIncome

# DistanceFromHome

# TotalWorkingYears

# YearsAtCompany

Attrition            No   Yes
BusinessTravel
Non-Travel         0.92  0.08
Travel_Frequently  0.75  0.25
Travel_Rarely      0.85  0.15

In [ ]:
# ğŸŸ¢ Seviye 1: IsÄ±nma Turu (Basic)
# 1. "Sales" departmanÄ±ndaki kiÅŸilerin ortalama yaÅŸÄ±nÄ± ve medyan maaÅŸÄ±nÄ± hesapla.
df[df["Department"] == "Sales"].agg({
    "MonthlyIncome" : "median",
    "Age" : "mean"}).round(2)

# 2. "Education" seviyesi 3 ve Ã¼zerinde olan kadÄ±nlarÄ±n sayÄ±sÄ± kaÃ§tÄ±r?
df[(df["Education"] >= 3) & (df["Gender"] == "Female")].shape[0]


# 3. Hangi â€œJobRoleâ€ pozisyonunda Ã§alÄ±ÅŸanlarÄ±n â€œYearsAtCompanyâ€ ortalamasÄ± en dÃ¼ÅŸÃ¼ktÃ¼r?
df.groupby("JobRole")["TotalWorkingYears"].mean().sort_values().head(1)

# ğŸŸ¡ Seviye 2: Orta Seviye Kombolar
# 4. AÅŸaÄŸÄ±daki koÅŸullarÄ± saÄŸlayan Ã§alÄ±ÅŸanlarÄ± listele (sadece Age, JobRole, MonthlyIncome sÃ¼tunlarÄ±):
# YaÅŸÄ± 45â€™ten bÃ¼yÃ¼k,

# ,

# "MonthlyIncome" 5000â€™den dÃ¼ÅŸÃ¼k
df[(df["Age"] > 45) & (df["Attrition"] == "Yes") & (df["MonthlyIncome"] < 5000)][["Age", "JobRole", "MonthlyIncome"]]


# 5. Hangi "EducationField" iÃ§inde "Attrition" oranÄ± en yÃ¼ksektir?
df.groupby("EducationField")["Attrition"].value_counts(normalize=True).sort_values().head(1)

# 6. Her "Gender" ve "MaritalStatus" kombinasyonu iÃ§in ortalama "TotalWorkingYears" ve "MonthlyIncome" hesapla.
df.groupby(["Gender", "MaritalStatus"]).agg({"TotalWorkingYears" : "mean", "MonthlyIncome" : "mean"}).round(2)

# ğŸ”´ Seviye 3: Uzman Ã‡emberi
# 7. YearsSinceLastPromotion sÃ¼tunundaki aykÄ±rÄ± (outlier) deÄŸerleri tespit et ve satÄ±rlarÄ± yazdÄ±r.
# ğŸ’¡ Ä°pucu: IQR yÃ¶ntemi kullanabilirsin.


# 8. "JobSatisfaction" ve "EnvironmentSatisfaction" arasÄ±nda korelasyon var mÄ±? GÃ¶rsel olarak heatmap ile gÃ¶ster.
# 9. Her "BusinessTravel" kategorisi iÃ§in "OverTime" yapanlarÄ±n oranÄ±nÄ± gÃ¶ster (% cinsinden).
# 10. apply() ve lambda fonksiyonu kullanarak yeni bir sÃ¼tun oluÅŸtur:
# EÄŸer Ã§alÄ±ÅŸan 5 yÄ±ldan fazla ÅŸirkette Ã§alÄ±ÅŸÄ±yorsa "KÄ±demli", deÄŸilse "Yeni" yazsÄ±n.

# SÃ¼tun adÄ±: KÄ±demDurumu

# ğŸ’ BONUS: Pivot Challenge
# 11. "Department" bazÄ±nda yÄ±llara gÃ¶re ortalama maaÅŸÄ± gÃ¶steren bir pivot tablo oluÅŸtur:
# YÄ±l bilgisi iÃ§in: YearsAtCompany

# DeÄŸer: MonthlyIncome

                      TotalWorkingYears  MonthlyIncome
Gender MaritalStatus
Female Divorced                   12.12        6769.32
       Married                    12.64        7156.97
       Single                     10.25        5994.94
Male   Divorced                   11.63        6795.74
       Married                    11.12        6547.24
       Single                     10.28        5812.02