# ðŸ“˜ NumPy ile Veri Analizi â€“ HR Data UygulamasÄ±
Bu dosyada NumPy kÃ¼tÃ¼phanesini temel dÃ¼zeyde tanÄ±yacak ve HR Data.csv dosyasÄ± Ã¼zerinden Ã¶rneklerle uygulayacaÄŸÄ±z.

In [2]:
# ðŸ”¹ NumPy ve Pandas kÃ¼tÃ¼phanelerini iÃ§e aktar
import numpy as np
import pandas as pd

## ðŸ”¹ HR Data.csv dosyasÄ±nÄ± oku

In [4]:
# CSV dosyasÄ±nÄ± oku
df = pd.read_csv('HR Data.csv')
# Sadece sayÄ±sal sÃ¼tunlarÄ± al
numeric_df = df.select_dtypes(include='number')
# NumPy array'e Ã§evir
veri = numeric_df.to_numpy()
numeric_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,JobSatisfaction,MonthlyIncome,MonthlyRate,PerformanceRating,TotalWorkingYears
0,41,1102,1,2,1,1,4,5993,19479,3,8
1,49,279,8,1,1,2,2,5130,24907,4,10
2,37,1373,2,2,1,4,3,2090,2396,3,7
3,33,1392,3,4,1,5,3,2909,23159,3,8
4,27,591,2,1,1,7,2,3468,16632,3,6

Ã–zellik	                   np.array()	                                .to_numpy()

Veri kaynaÄŸÄ±	    Python list, tuple, vs. (elle verirsin)	      DataFrame (otomatik Ã§eviri)
KullanÄ±m amacÄ±	    Manuel NumPy array Ã¼retimi	                  Var olan DataFrame'den NumPy al
Kontrol	            Tamamen sende	                              Mevcut tabloya baÄŸlÄ±
SÃ¼tun isimleri?	    Yok	                                          Yok (Ã§evrildiÄŸi anda isimler kaybolur)

## ðŸ”¹ NumPy ile Temel Ä°ÅŸlemler

In [5]:
# Ortalama yaÅŸ ve maaÅŸ hesapla
ortalama_yas = np.mean(numeric_df['Age'])
ortalama_maas = np.mean(numeric_df['MonthlyIncome'])
print('Ortalama YaÅŸ:', round(ortalama_yas, 2))
print('Ortalama MaaÅŸ:', round(ortalama_maas, 2))

Ortalama YaÅŸ: 36.92
Ortalama MaaÅŸ: 6502.93

| Nereden?             | KolaylÄ±k | Yorum                           |
|----------------------|----------|---------------------------------|
| `numeric_df['Age']`  | âœ…       | AnlaÅŸÄ±lÄ±r, sÃ¼tun ismi var       |
| `veri[:, 0]`         | âœ…âœ…     | HÄ±zlÄ±, ama dikkatli olmalÄ±      |

In [ ]:
# Ortalama maaÅŸtan yÃ¼ksek maaÅŸ alan kiÅŸi sayÄ±sÄ±
maas_dizisi = numeric_df['MonthlyIncome'].to_numpy()
ust_maas_sayisi = np.sum(maas_dizisi > ortalama_maas) # np.sum True False -leri topluyur 1+0+0+1+1
print('Ortalama maaÅŸ Ã¼stÃ¼ alan kiÅŸi sayÄ±sÄ±:', ust_maas_sayisi)

# numeric_df[numeric_df["MonthlyIncome"] > ortalama_maas].shape[0]
# Pandas ile sayi

In [7]:
# YaÅŸ - TecrÃ¼be farkÄ±
yas = numeric_df['Age'].to_numpy()                        # Ã¶rnek: [41, 49, 37, 33, 27, ...]
tecrube = numeric_df['TotalWorkingYears'].to_numpy()      # Ã¶rnek: [8, 10, 7, 8, 6, ...]
tecrube_farki = yas - tecrube

#yas ve tecrube iki farklÄ± NumPy dizisi (aynÄ± uzunlukta),
# NumPy bu dizilerin aynÄ± indexlerindeki elemanlarÄ± Ã§Ä±karÄ±r:
#[41 - 8, 49 - 10, 37 - 7, 33 - 8, 27 - 6] = [33, 39, 30, 25, 21]

print('Ä°lk 5 kiÅŸinin YaÅŸ - TecrÃ¼be farkÄ±:', tecrube_farki[:5])

Ä°lk 5 kiÅŸinin YaÅŸ - TecrÃ¼be farkÄ±: [33 39 30 25 21]

In [ ]:
# SatÄ±r ve sÃ¼tun ortalamalarÄ±
satir_ortalamalari = np.mean(veri, axis=1)
sutun_ortalamalari = np.mean(veri, axis=0)
print('Ä°lk 5 satÄ±r ortalamasÄ±:', satir_ortalamalari[:5])
print('TÃ¼m sÃ¼tun ortalamalarÄ±:', np.round(sutun_ortalamalari, 2))

# axis = 0 â†’ dikine hesap â†’ sÃ¼tun sÃ¼tun
# axis = 1 â†’ yatay hesap â†’ satÄ±r satÄ±r